/** Roboto Slab **/

@font-face {
    font-family: roboto-slab-thin;
    src: url('/z/assets/css/fonts/roboto-slab/RobotoSlab-Thin.ttf');
}
@font-face {
    font-family: roboto-slab-extralight;
    src: url('/z/assets/css/fonts/roboto-slab/RobotoSlab-ExtraLight.ttf');
}
@font-face {
    font-family: roboto-slab-light;
    src: url('/z/assets/css/fonts/roboto-slab/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: roboto-slab;
    src: url("/z/assets/css/fonts/roboto-slab/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: roboto-slab-medium;
    src: url("/z/assets/css/fonts/roboto-slab/RobotoSlab-Medium.ttf");
}
@font-face {
    font-family: roboto-slab-semibold;
    src: url("/z/assets/css/fonts/roboto-slab/RobotoSlab-SemiBold.ttf");
}
@font-face {
    font-family: roboto-slab-bold;
    src: url('/z/assets/css/fonts/roboto-slab/RobotoSlab-Bold.ttf');
}
@font-face {
    font-family: roboto-slab-extrabold;
    src: url('/z/assets/css/fonts/roboto-slab/RobotoSlab-ExtraBold.ttf');
}
@font-face {
    font-family: roboto-slab-black;
    src: url('/z/assets/css/fonts/roboto-slab/RobotoSlab-Black.ttf');
}

/**  Roboto **/
@font-face {
    font-family: roboto-thin;
    src: url('/z/assets/css/fonts/roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: roboto-light;
    src: url('/z/assets/css/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto;
    src: url("/z/assets/css/fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto-medium;
    src: url("/z/assets/css/fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: roboto-bold;
    src: url('/z/assets/css/fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: roboto-black;
    src: url('/z/assets/css/fonts/roboto/Roboto-Black.ttf');
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: roboto !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html, body,
div, span, p, blockquote,
h1, h2, h3, h4,
input, select, textarea,
input::placeholder,
textarea::placeholder, th, td{
    vertical-align: middle;
	font-family: roboto-slab !important;
	color:#000;
}
td{
    padding:10px 0px 10px 0px;
}

p, span{
    font-size: 17px;
    font-family: roboto !important;
    line-height: 1.3em;
}

/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/


h1{
	font-size:49px;
	margin:11px 0px 0px;
	line-height:1.3em;
	font-family:roboto-slab-bold !important;
}

h2{
    font-size:36px;
    line-height: 1.0em;
    font-family:roboto-slab-bold !important;
}

h3{
    font-size:29px;
	font-family:roboto-slab-bold !important;
	line-height:1.17;
    margin:10px auto 10px auto;
}
h4{
    font-size:26px;
    font-family:roboto-slab-bold !important;
    margin:10px auto 10px auto;
    line-height:1.17;
}

h1,h2,h3{
    color:#000;
}

textarea:focus,
textarea.typing {
    outline:none;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family:Roboto-thin !important;
    color:#5f6f70;
    font-size:21px;
    text-shadow: 0px 0px #fff;
}
textarea::-moz-placeholder { /* Firefox 19+ */
    font-family:Roboto-thin !important;
    color:#5f6f70;
    text-shadow: 0px 0px #fff;
}
textarea:-ms-input-placeholder { /* IE 10+ */
    font-family:Roboto-thin !important;
    color:#5f6f70;
    text-shadow: 0px 0px #fff;
}
textarea:-moz-placeholder { /* Firefox 18- */
    font-family:Roboto-thin !important;
    color:#5f6f70;
    text-shadow: 0px 0px #fff;
}


input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder { /* Edge */
    color: #5f6f70;
    font-family:Roboto-light !important;
}

input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5f6f70;
    font-family:Roboto-light !important;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #5f6f70;
    font-family:Roboto-light !important;
}

input[type="file"]{
    cursor:pointer;
    cursor:hand;
    z-index:1;
}


.button,
input[type="button"].button,
input[type="reset"].button,
input[type="submit"].button{
	cursor:pointer;
	text-transform:uppercase;
	color:#fff;
	font-size:13px;
	padding:14px 18px;
    font-size: 19px;
    padding: 16px 21px;
    line-height: 1.0em;
	display:inline-block;
	background:#3fb8ff;
    border:solid 1px #3fb8ff;
	text-decoration:none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-family:Roboto !important;
	outline:none !important;
	-webkit-appearance: none;
	-moz-appearance:none;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
    -moz-box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
    box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
}

.button:active{
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(179,179,179,0.23);
    -moz-box-shadow: 0px 1px 7px 0px rgba(179,179,179,0.23);
    box-shadow: 0px 1px 7px 0px rgba(179,179,179,0.23);
}

.button:hover{
    color:#fff;
}

.button.small,
input[type="button"].button.small,
input[type="reset"].button.small,
input[type="submit"].button.small{
	font-size:11px;
	padding:15px 23px;
}

.button.beauty,
input[type="button"].beauty,
input[type="reset"].beauty,
input[type="submit"].beauty{
	background:#f540a6;
	border:solid 1px #f540a6;
}

.button.pepe,
input[type="button"].pepe,
input[type="reset"].pepe,
input[type="submit"].pepe{
    background:#6C169B;
    border:solid 1px #6C169B;
}


.button.gain,
input[type="button"].gain,
input[type="reset"].gain,
input[type="submit"].gain{
    background:#40F540;
    border:solid 1px #40F540;
}

.yellow,
.button.yellow,
input[type="button"].button.yellow,
input[type="reset"].button.yellow,
input[type="submit"].button.yellow{
	color:#000;
	background:#FDFE01;
	border:solid 1px #fdfe01;
}

.button.sky,
input[type="button"].button.sky,
input[type="reset"].button.sky,
input[type="submit"].button.sky,
input[type="button"].sky{
	color:#000;
	background:#F3F3F7;
	border:solid 1px #F3F3F7;
}

.button.light,
input[type="button"].button.light,
input[type="reset"].button.light,
input[type="submit"].button.light,
input[type="button"].button.light{
	color:#000;
	background:#fff;
    border:solid 1px #eff2f3;
}

.button.purple,
input[type="button"].button.purple,
input[type="reset"].button.purple,
input[type="submit"].button.purple{
    background:#3F4EAC;
    border:solid 1px #3F4EAC;
}

.modern,
.button.modern,
input[type="button"].button.modern,
input[type="reset"].button.modern,
input[type="submit"].button.modern{
    color:#fff;
    background:#000;
    border:solid 1px #000;
}

.retro,
.button.retro,
input[type="button"].button.retro,
input[type="reset"].button.retro,
input[type="submit"].button.retro{
    color:#fff;
    background:#00a1ff;
    border:solid 1px #00a1ff;
}

.alive,
.button.alive,
input[type="button"].button.alive,
input[type="reset"].button.alive,
input[type="submit"].button.alive{
   color:#fff;
   background:#64ac3f;
   border:solid 1px #64ac3f;
}

.button.small,
input[type="button"].button.small,
input[type="reset"].button.small,
input[type="submit"].button.small{
    font-size: 10px;
    padding: 10px 16px !important;
}

.button.super,
input[type="button"].button.super,
input[type="reset"].button.super,
input[type="submit"].button.super{
    font-size: 32px;
    padding: 26px 20px;
    /*border-radius: 16px;*/
    display:inline-block;
    margin:10px auto;
    font-family:roboto-black !important;
}

.button.bare,
input[type="button"].button.bare,
input[type="reset"].button.bare,
input[type="submit"].button.bare{
    color:#000;
    border:solid 2px #000;
    background: #fff;
    font-family: roboto-medium !important;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
    -moz-box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
    box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
}

.button.tiny{
    padding: 2px 3px
}

.disabled{
    opacity:0.3;
}

.notify{
    font-size:17px;
    margin-bottom:23px;
    padding:10px 20px;
    border:solid 1px #617078;
    background:#fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.header-information{
    font-size:27px !important;
    font-family:roboto-light !important;
}

.tiny{
    font-size:11px !important;
    font-family:Roboto !important;
}

strong{
    font-family:roboto-bold !important;
}

.left-float{
    float:left;
}

.right-float{
    float:right;
}

.tiny,
.information,
.instructions{
    font-size:12px;
    font-family:roboto-light !important;
}

.tiny-tiny{
    font-size:10px;
}

label{
    font-size:19px;
    margin:20px 0px;
    line-height:1.62em;
}

.href-dotted,
.href-dotted-black,
.href-dotted-white{
    text-decoration: none !important;
    font-family: roboto !important;
}

.href-dotted{
    text-decoration: none !important;
    border-bottom:dotted 2px #428bca !important;
}

.href-dotted-black{
    color: #17161b !important;
    border-bottom:dotted 2px #17161b !important;
}

.href-dotted-white{
    color: #fff !important;
    border-bottom:dotted 2px #fff !important;
}

a{
    font-size:19px;
    color:#03afff;
    color:#13B1FF;
}

a:hover{
    cursor:hand;
    color:#03afff;
    color:#13B1FF
}

.fun{
    font-family: roboto-black !important;
}

.bold{
    font-family: roboto-bold !important;
}

.medium{
    font-family: roboto-medium !important;
}

.regular{
    font-family: roboto !important;
}

.thin{
    font-family: roboto-thin !important;
}

.lightf{
    font-family: roboto-light !important;
}

ul li{
    margin:5px 0px 5px;
}

a{
    font-size:19px;
    color:#03afff;
    color:#13B1FF;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="text"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="text"]:active,
input[type="password"]:active,
input[type="number"],
input[type="number"]:hover,
input[type="number"]:active{
    color:#000;
    font-family:roboto-light !important;
    font-size:21px;
    line-height: 1.4em !important;
    padding: 9px 12px !important;
    background:#f0f4f5;
    border:solid 1px #e4e8e9;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}

input[type="text"]:focus,
input[type="password"]:focus{
    background: #fff;
    border:solid 3px #3fb8ff;
    outline: none;
}
input[type="text"],
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"],
input[type="password"]:hover,
input[type="password"]:focus,
input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus,
input[type="email"],
input[type="email"]:hover,
input[type="email"]:focus{
    width:100%;
    font-family: roboto-bold !important;
    padding: 13px 12px !important;
    line-height: 1.0em;
    font-size:27px !important;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder{
    font-size:19px;
    color: #8c96a9;
    font-family: roboto-light !important;
}


textarea{
    color:#000;
    font-family:roboto-bold !important;
    font-size:27px;
    width:100%;
    height:170px;
    line-height:1.0em !important;
    padding:12px 12px !important;
    background:#f0f4f5;
    border:solid 1px #e4e8e9;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border:solid 1px #C9DCDC !important;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #f0f4f5 inset;
    transition: background-color 5000s ease-in-out 0s;
}

select{
    font-size:27px;
    padding:12px 12px !important;
    background: #f0f4f5;
    border:solid 1px #C9DCDC;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    font-family: roboto-slab-bold !important;
}

.clear{
    clear:both;
}

.inline{
    display: inline-block;
}

.go-left{
    float:left;
}

.go-right{
    float:right
}


body.obey{}
